*
{
    margin:0;padding:0;
}
nav{

display: flex;
justify-content: space-between;

}
nav ul 
{
    display: flex;
    justify-content:space-between;
    width: 30%;
    align-items: center;
}
nav ul li{
    list-style-type: none;
    cursor: pointer;
}
nav ul li:hover{
    color:rgb(237, 25, 25);
}
li button
{
    background-color: black;
    color:white;
    padding: 5px;
    border-radius: 14px;
}
.first-sec
{
    
    margin-left: 100px;
    margin-top: 50px;
}
.first-sec h1{
    font-size: 90px;
}

.subdiv-1,.subdiv-2,.subdiv-3,.subdiv-4
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.subdiv-1 ul li,.subdiv-2 ul li,
.subdiv-3 ul li,.subdiv-4 ul li
{
    list-style-type: none;
}
.main-div{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.image{

    margin-left: 60px;
}
.image2{

    margin-left: 60px;
}


    
   

div li button{

display: flex;
background-color: grey;
justify-content: space-between;
margin-left: 750px;

}
section h4{

    display: flex;
    justify-content: space-between;
    margin-left: 450px;

}
.subdiv-5{
    margin-left: 280px;
}
.subdiv-6{
    margin-left: 520px;

}
section  p{
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    font-size: 60px;

}
.middiv{
    background-color: rgb(240, 239, 239);border-radius: 40px;border-bottom: 40px;
    margin-left: 200px;
    font-size: 30px;
    margin-right: 100px;
    


}
.middiv{
     display: flex;
     align-items: center;
     justify-content: center;
}
.middiv button{

    background-color: rgb(0, 0, 0);
    color: white;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 15px;
    
    
    
}
.middiv right-por img{

    margin-left: 100px;
    
}




